/** 
 * Tags
 */

.tags {
    &__list {
        &-item {
            &-link {
                color: $color-base;
                &:hover,
                &:focus {
                    color: $color-secondary;
                    border-bottom: 1px solid $color-secondary;
                }
            }
        }
    }
}
